body {
  margin:0;
}

.topnav {
  overflow: hidden;
  background-color: #f5f6f8;
  display: inline;
  position: center;
}

.topnav a {
  
  
  color: #666666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Open Sans Semibold";
}

.logo {
  
}

.largeIcon {
  padding-top: 25px;
}

.titleOne {
  font-family: "Open Sans Light";
  font-size: 30px;
  color: #333333;
}

.titleOneParagraph {
  font-family: "Open Sans Regular";
  font-size: 18px;
  color: #666666;
}

.titleTwo {
  font-family: "Open Sans";
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.titleTwoParagraph {
  font-family: "Open Sans Regular";
  font-size: 16px;
  color: #666666;
}

.footer {
  background-color: #3a3d40;
  font-family: "Open Sans Bold";
  font-size: 18px;
  color: #DDDDDD;
  letter-spacing: 2px;
  text-decoration: none;
}

.bestVPNServices {
  display: inline-block;

}

.services {
  width: 300px;
  float: left;
  padding-right: 20px;
}

.divider {
  color: #d8d8d8;
}

.footer a:link{
  text-decoration: none!important;
  color: #DDDDDD;
  display: inline;
  margin: 0 auto;
}

.footer a:visited{
  text-decoration: none!important;
  color: #DDDDDD;
  display: inline;
  margin: 0 auto;
}

.check {
  list-style-image: url("assets/checkmark.svg");
}

[class*="col-"] {
  float:left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;

    }

    .logo {
      display: block;
      margin: 0 auto;
    }

    .footer {
      display: inline;
    }

    .icons {
      float: left;
      padding-right: 15px;
      padding-bottom: 15px;

    }

    .bestVPNServices {

      text-align: left;

    }

    .services {
      
    }

    ul {
      text-align: center;
      list-style-position: inside;
    }

    li {
      padding-bottom: 10px;
    }
}