body {
  margin:0;
}

.topnav {
  overflow: hidden;
  background-color: #f5f6f8;
}

.topnav a {
  float: left;
  display: block;
  color: #666666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Open Sans Semibold";
}

.titleOne {
  font-family: "Open Sans Light";
  font-size: 30px;
  color: #333333;
}

.titleOneParagraph {
  font-family: "Open Sans Regular";
  font-size: 18px;
  color: #666666;
}

.titleTwo {
  font-family: "Open Sans";
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.titleTwoParagraph {
  font-family: "Open Sans Regular";
  font-size: 16px;
  color: #666666;
}

.footer {
  background-color: #3a3d40;
  font-family: "Open Sans Bold";
  font-size: 18px;
  color: #DDDDDD;
  letter-spacing: 2px;
  text-decoration: none;

}

.divider {
  color: #d8d8d8;
}

a:link{
  text-decoration: none!important;
}

.check {
  list-style-image: url("assets/checkmark.svg");
}